<h3>Функции</h3>

Блоки кода вызываемые повторно.<br>

<hr>

function Name(arg1,arg2) - Функция объявления с параметрами<br>
{<br><br>

//Тело функции<br><br>

}<br><br>

<hr>

var a = function() - функция выражения без параметров<br>
{<br><br>

//Тело функции<br><br>

}

<hr>

Лучше всего использовать функцию объявления, т.к ее можно вызвать из любой части кода.<br>
Функции при загрузке страницы все поднимаются вверх, и функция объявления создается интерпретатором до объявления кода.<br>
Функция выражения не может быть вызвана до своего создания. В таком случае поднимется только пустая перменная.<br>

<hr>

Функции нужно называть маленькими буквами и при этом <b>глаголами</b><br><br>

<h3>область видимости переменной</h3>

var result = 25; // Глобальная<br><br>

function()<br>
{<br><br>

var result = 2; // Локальная ( действует только в области функции )<br><br>

}<br><br>

<hr>

name(); - вызов функции напрямую<br><br>

a.name(); - вызов функции как методы<br><br>

еще можно как конструкторы и косвенно используя call() и apply();<br><br>

var res = 25;<br><br>

<table>
	<tr>
		<td>1 >></td>
		<td>function(){ var res = 20; }</td>
	</tr>
	<tr>
		<td>2</td>
		<td>function(){ var res = 15; }</td>
	</tr>
	<tr>
		<td>вызов</td>
		<td>alert(res); // 15 - в этой области видимости</td>
	</tr>
</table><br>

alert(res); //25 - потмоу-что глобальная.<br><br>

Елси функция не находит нужную переменную у себя в области, то она обращается к родительской функции и спрашивает ее, если и там не находит 
то родительская функция обращается к своей родительской функции и т.д пока не найдет нужную.<br><br>

Глобальная переменная может быть переопределена внутри функции которая ее вызвала.

<hr>

return - возвращает значение из функции.

<hr>

Вложеные функции<br><br>

function NameOn()<br>
{<br>

---->function NameIn()<br>
------>{<br><br>


------>}<br>

}