<h3>циклы</h3>

Циклы это повторяющиеся инструкции пока условие истино.<br><br>

<hr>

while(условие)<br>
{<br>
тело цикла<br>
}<br><br>

для условий можно использовать переменные которые можно увеличивать инкрементом внутри цикла<br><br>

т.е

<hr>

while(i < 20)<br>
{<br>
какая-то инструкция которая выполняется при каждой итерации( проходе цикла )<br>
i++<br>
}<br><br>

a != a - проверка на NaN<br>
% - можно проверить на дробное цисло<br>

<hr>

если вывод переменной записать в тело цикла, то переменная будет выводится каждую итерацию.<br>

если вывод записать после цикла, то выведется настоящее значение переменной.<br>

<hr>

while(условие) // Сначала выполнит потом выведет.<br>
{<br>
инструкция<br>
}<br><br>


do{            // Сначала выведет потом выполнит.<br><br>

инструкция<br><br>

}while(условие)<br>

<hr>

цикл for(var i = 0; i < 20; i++){  // в принципе аналог while только переменная, условие и инкремент находятся в скобках цикла<br><br>

инструкция<br>
}<br><br>

используется для перебора массивов, переменную можно обьявлять до начала цикла, но в этом случае нужно все равно ставить ";" перед условием<br>
т.е<br><br>

for(; i<20; i++)<br><br>

для работы нужен массив var arr = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20];<br>

для определения его длины используем переменную в которую помещаем метод определения ( length )<br>

var len = arr.length;<br>

теперь ее подставляем в условие i <= len;<br>

<h3>инструкции перехода</h3>

break; - обрывает цикл<br>

сontinue; - обрывает итерацию, но продолжает цикл

<h3>метки</h3>

нужны для идентификации циклов и инструкций в фигурных скобках и применения к ним инструкций перехода<br>

CycleName: for....<br>

continue CycleName;

<hr>

break CycleName; - обрывает цикл на который казывает метка.<br>

continue CycleName; - обрывает итерацию помеченого цикла.