<h3>массивы</h3>


Массивы это переменные имеющие несколько значений через запятую.<br><br>

var a = [1,2,3,4,5]<br>

Задаются в виде ЛИТЕРАЛА или КОНСТРУКТОРА.<br>

ЛИТЕРАЛ - var arr = [];<br>
КОНСТРУКТОР - var a = new Array(); - в скобках задаем колличество элементов ИЛИ перечисляем их как в литерале.<br>

<hr>

колличество элементов в массиве всегда на 1 больше. Т.е чтобы получить последний <br>
обозначенный элемент нужно задавать длину массива минус 1 ( arr.length - 1 )<br>

<hr>

Каждый элемент массива имеет собственный индекс, отсчет всех индексов начинается с 0

<hr>

у массивов есть свойства и методы<br>
Свойства возвращают какие-то значения массивов. Синтаксис ( arr.length ) это вернет длину массива

<hr>

Методы это действия над массивами ( arr.pop(); ) это удалит последний элемент массива и вернет его значение.<br>

<hr>

Обращение к массивам<br><br>

arr[1] - обращение к элементу массива с индеском 1.<br>
arr[] - обращение ко всему массиву, выведет весь массив.<br>
arr[5] = "test" - переопределит элемент массива с индексом 5.<br>
arr[arr.length] - обращение к самому последнему элементу массива, он пустой.(undefined)<br>
arr[arr.length-1] - обращение к последнему обозначенному элементу массива.э<br>

arr.length = 5; - задает статическую длинну массива. Если в массиве больше элементов<br>
то он режется до 5 индекса. т.е до 6 элемента в массиве

<hr>

Разреженный массив - массив имеющий пустые значения.

<h3>методы</h3>

arr.push(); - добавит элемент в конец массива.<br><br>

arr.pop(); - удалит элемент с конца массива и вернет его значение.<br><br>

arr.shift(); - удалит элемент из начала массива и вернет его значение.<br><br>

arr.unshift(); - добавит элемент в начало массива и возвращает новую длину массива.<br><br>

arr.slice(начало, конец); - копирует значения массива <br>
в диапазоне от "начала"(включительно) и до конца(не включительно) если конец задать с минусом то значения<br>
начнут считаться с конца.<br><br>

arr.splice(начало, колличество); - вырезает значения из массива в заданном колличестве после "начала".<br><br>

arr.indexOf(искомое); - возвращает первый элемент который совпадет по поиску.( поиске слева направо )<br>
если такого нет то вернет (-1)<br><br>

arr.lastIndexOf(искомое); - аналог indexOf только поис идет с конца массива, если такого нет то вернет (-1)<br>

<hr>

arr.forEach(); - цикл for для перебора массива в упрощенном синтаксисе.<br><br>

<b>Синтаксис:</b><br>

arr.forEach(function(значение, индекс, весь массив){ <br>

});<br><br>

Только в foreach не работает break;

arr.filter(function(елемент){<br>
return element < 3;<br><br>

});<br><br>

Задает новый массив с элементами которые возвращаются из функции.<br><br>

arr.join('разделитель'); - приводит весь массив в строку, вместо запятых задает указаный разделитель<br><br>

arr.concat(аргументы); - соединяет несколько массивов в один<br>
var NewArr = arr.concat(arr1,arr2);<br><br>

arr.split('разделитель', 'колличество элементов');<br><br>

arr.reverse(); - реверсия массива<br><br>

arr.sort(); - сортирует элементы массива, и возвращает отсортированый массив ( без аргументов - алфавитный порядок)<br><br>

arr.map(function(х){return;}); - передает функции каждый элемент массива, обрабатывается функцией и заносится в новый массив.( x - значение )<br><br>

arr.filter(); - передает функции массив, обрабатывает его и возвращает элементы которые в теле функции вернут true, разреженые массивы<br> уплотняются,<br><br>
т.е из них удаляются все значения undefinded и null

<hr>

строчная переменная тоже имеет некоторые свойства массива var str = 'СТРОКА' - каждая буква имеет индекс.<br>

но поддерживает только те методы которые не изменяют ее, так как строки статичны.<br>

<hr>

<h3>многомерные массивы</h3>

Это массивы имеющие вложеные массивы.<br><br>

<table>
	<tr>
		<td>[1,2,3]</td>
		<td>[4,5,6]</td>
		<td>[7,8,9]</td>
	</tr>
	<tr>
		<td>|</td>
		<td>|</td>
		<td>|</td>
	</tr>
	<tr>
		<td>0</td>
		<td>1</td>
		<td>2</td>
	</tr>
	<tr>
		<td>|</td>
		<td>|</td>
		<td>|</td>
	</tr>
	<tr>
		<td>[1,2,3]</td>
		<td>[4,5,6]</td>
		<td>[7,8,9]</td>
	</tr>
	<tr>
		<td>| | |</td>
		<td>| | |</td>
		<td>| | |</td>
	</tr>
	<tr>
		<td>0 1 2</td>
		<td>0 1 2</td>
		<td>0 1 2</td>
	</tr>
</table>

обращение к такому массиву<br>

arr[1][1]; - обращение ко второму вложенному массиву, а в нем в свою очередь ко второму элементу.