<h3>типы данных</h3>

	<ol>
		<li> - string (строка)</li>
		<li> - number (число)</li>
		<li> - null (нулевое значение)</li>
		<li> - undefined (неопределенное значение)</li>
		<li> - boolean (логическое true/false)</li>
		<li> - object (объект)</li>
	</ol>
	
<p>	На ноль делить можно!!!!!!<br><br>

	2/0 = infinity<br><br>

	NAN - значение если переменная не является числом.<br><br></p>
	
<h3>Операторы</h3>
<ul>
	<li>"+" - сложение</li>
	<li>"-" - вычитание</li>
	<li>"/" - деление</li>
	<li>"*" - умножение</li>
	<li>"%" - остаток от деления</li>
</ul>

1 + 2 - оператор и два операнда


<h3>Приоритеты!</h3>

<p>() - повышают приоритет</p>
<table>
	<tr>
		<td>15</td>
		<td>унарный плюс</td>
		<td>+</td>
	</tr>
	<tr>
		<td>15</td>
		<td>унарный минус</td>
		<td>-</td>
	</tr>
	<tr>
		<td>14</td>
		<td>умножение</td>
		<td>*</td>
	</tr>
	<tr>
		<td>14</td>
		<td>деление</td>
		<td>/</td>
	</tr>
	<tr>
		<td>13</td>
		<td>сложение</td>
		<td>+</td>
	</tr>
	<tr>
		<td>13</td>
		<td>вычитание</td>
		<td>-</td>
	</tr>
	<tr>
		<td>3</td>
		<td>присваивание</td>
		<td>=</td>
	</tr>
</table><br>

Унарные операторы (-6 +6)<br>

Бинарные операторы ( 2 + 2 )<br><br>

<b>для работы с математическими операциями существует объект MATH.</b><br><br>

например<br><br>

- math.round(); - округляет дробное число до ближайшего целого;<br><br>

- math.ceil(); - округление дроби до верхнего числа ( 5.5 = 6 );<br><br>

- math.floor(); - округление дроби до нижнего числа ( 5.5 = 5 );<br><br>

- name.toFixed(2); - сокращает дробь до двух знаков после запятой.

Инкремент - служит для упрощения выражения для увеличения на единицу<br><br>

Вместо (i = i + 1) можно записать ( i=+1 ) или ( i++ ); Последнее будет инкрементом.<br><br>

<b>Инкремент бывает:</b><br><br>

- Префиксный ( ++i ) - выполняет и выводит;<br><br>
- Постфиксный ( i++ ) - выводит текущее значение, а после увеличивает;<br><br>

Декремент - аналог инкремента только с минусом. ( i-- )<br><br>

<hr>

десятичные дроби проблема JS, результат вычисления с ними будет неверный, по этом их приводят к целым числам, а после результат делят на 10.<br><br>

0.3 - 0.1 = 0.19 // Чтоооо???)))  значит делаем по другому 3 - 1 = 2 / 10 // теперь все верно<br><br>

"+" в ситуации со строками работает как связующий, т.е <br><br>

"строка" + "строка" = "строкастрока" <br><br>

это называется - <b>КОНКАТЕНАЦИЯ</b>


<h3>управление последовательностью</h3>

это способ верного написания спец.символов в переменных.<br><br>

Например:<br><br>

в значении переменной нужно написать слово "can't";<br><br>

конечно можно сделать и так: " can't "; - апостроф внутри двойных кавычек будет распознан как элемент строки, но в некоторых случаях <br><br>

это может привести к ошибкам, потому как все данные при отправке на сервер переводятся в строки.<br><br>

Для избежания ошибок используют <b>ЭКРАНЫ</b> " can\'t "; теперь символ стоящий после слеша будет распознан как элемент строки в любом случае<br><br>


ОПЕРАТОРЫ СРАВНЕНИЯ

(2 > 1) - два больше чем один<br>
(2 < 1) - один больше чем два

	<p>Если сравнивать строки, то буквы нижнего регистра будут "БОЛЬШЕ" чем буквы верхнего. Т.к буквы считаются большими если они стоят позже.

	 toLowerCase('фраза') - приводит строку в нижний регистр.

     toUpperCase('фраза') - приводит строку в верхний регистр.</p> 

<p>
(2 >= 1) - два больше или равно одному<br>
	(2 <= 1) - два меньше или равно одному <br>
	2 != 1 - два НЕ равно одному<br>
	   	2 == 1 - два равно одному</p>

Это были <b>НЕ строгие равенства</b>

<hr>

Строгие равенства сравнивают еще и типы данных<br><br>

2 === 1 - два строго равно одному<br>

2 !== 1 - два строго НЕ равно одному<br><br>


<h3>преобразования</h3>

Number(''); - преобразует в число.<br><br>

String(''); - преобразует в строку.<br><br>

Boolean(''); - преобразует в логический.<br><br>

!!2 - преобразование в логику<br><br>

parseInt(''); - приводит строку в число, выводя первое найденое число ( в случае если перед ним нет букв );<br><br>

parseFloat(''); - тоже самое что и parseInt только работает с десятичными дробями.<br><br>


<h3>Логические соотношения</h3>

"", null, NaN, 0, undefined = false;<br><br>

Любое число кроме 0 = true;<br><br>

null === undefined // true;<br><br>

undefined !== ничему // true;<br><br>

<h3>логиечские операторы</h3>

|| - логическое "или", используется в условных конструкциях ( 2 >= 3 || 2 <= 4 ) в этом случае выполняется первое условие<br><br>


которое вернет true  (низкий приоритет)<br><br>

&& - логическое "и" так же используется в условных конструкциях но в отличии от "или" требует выполнения всех условий с которыми она связана<br><br>

иначе возвращает false (высокий приоритет)

<h3>условные конструкции</h3>

это конструкции которые выполняют разные блоки кода в зависимости от выполнения условий<br><br>

if()<br>
{<br><br>

//выполнится если true<br><br>

}<br>
else<br>
{<br><br>

//выполнится если false<br><br>

}<br><br>

else if() - альтернативная конструкция внутри if, для создания дополнительного условия.<br><br>

(!name) - означает что переменная имеет значение null, undefined, 0, "" или NaN<br><br>

<hr>

alert( true || true ); // true<br>
alert( false || true ); // true<br>
alert( true || false ); // true<br>
alert( false || false ); // false<br><br>

alert( true && true ); // true<br>
alert( false && true ); // false<br>
alert( true && false ); // false<br>
alert( false && false ); // false<br>


конструкция switch - нужна для создания вариативности результата, используется строгое сравнение<br><br>

switch(i)<br>
{<br>
case 2:<br><br>

//Вывод если переменная i === 2;<br><br>

break; // конец выполнения<br><br>

case 3:<br><br>

//Вывод если переменная i === 3;<br><br>

break; // конец выполнения<br><br>

default:<br><br>

// Аналог else<br>
break;<br>
}

<hr>

alert( null || 2 || undefined );  //выведет 2 потому как null == false, а алерт выведет первый true который найдет.<br><br>

alert( alert(1) || 2 || alert(3) ); //выведет сначала первый алерт потом 2<br><br>

alert( 1 && null && 2 );<br>
//выведет null потому как это первое ложное значение.<br><br>

alert( alert(1) && alert(2) );<br>
//выведет 1 потом undefined, так как alert ничего не возвращает, и после первого вывода получит undefined<br><br>

alert( null || 2 && 3 || 4 );<br>
//выведет 3 потому как && выполняется первым по приоритету, а оно возвращает true с последним значением,<br><br>

после чего подставляется в конструкцию "или" и становится первым истиным значением после null.