<h3>клиентский Javascript</h3>

клиентский js состоит из трех частей<br><br>

1) DOM - document opject model ( объектная модель документа )<br>
2) BOM - browser object model ( объектная модель браузера )<br>
3) js - собственно сам javascript<br><br>

Все эти элементы это части большого глобального объекта window

<hr>

DOM - это html разметка, его глобальный объект (document)<br>
BOM - это функционал и данные браузера<br><br>

Загрузка программы на js выполняются в два этапа<br><br>

1 - интерпретация<br>
2 - ассинхронные запросы, клиентские события<br>

<hr>

window.onload = function(){} - функция сработает после загрузки всего объекта

<hr>

document.getElementById("ID"); - обращение к элементу разметки по его идентификатору (id)

<hr>

Location - объект браузера для манипуляций

<table>
	<tr>
		<td>Navigator</td>
		<td>
			<ul>
				<li>- объект содержащий данные браузера</li>
				<li>- appName - название браузера</li>
				<li>- appVersion - версия, 4 или 5 поколение</li>
				<li>- userAgent - версия и дополнительные сведения</li>
				<li>- platform - сведения об ОС и платформу браузера</li>
				<li>- onLine - свойство определяет подключен ли браузер к сети</li>
				<li>- geolocation - свойство местоположения</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>screen</td>
		<td>
			<ul>
				<li>- объект данных об экране </li>
				<li>- width - ширина экрана</li>
				<li>- height - высота экрана</li>
				<li>- availWidth - доступная ширина</li>
				<li>- availHeight - доступная высота</li>
			</ul>
		</td>
	</tr>
</table><br>

<hr>

window.location.reload(); - указывает браузеру перезапуститьстраницу<br>
window.location.replace("http://test.com"); - редирект с заменой страницы<br>
window.assign("путь"); - аналог replace только с возможностью возврата на предыдущую страницу<br><br>

window.history.back(); - перемещаемся на предыдущую страницу<br>
window.hisotry.forward(); - перемещаемся на следующую страницу<br>
window.hisotry.go(колличество); - перемещаемся на указанную страницу минуя колличество страниц указанных в аргументах ( если значение<br> отрицательное, то движемся назад)<br><br>

window.setTimeout( function(){}, время в миллисекундах ); - выполняет функцию через указанное время единожды<br>
window.setInterval( function(){}, время в миллисекундах ); - выполняет функцию каждый раз через указанный промежуток времени<br>
window.clearInterval( идентификатор счетчика ( обычно переменная которая его вызывает)); - очистка интервалов<br><br>

WINDOW можно не указывать при вызове!!!<br><br>

Navigator.javaEnabled(); - проверка на возврат апплетов явы.<br>
Navigator.cookiesEnabled(); - проверка на сохранение куков<br>

<hr>

btn.onclick = function(){}; - функция срабатывает при клике на объект, объект это переменная соержащая обращение к элементу разметки<br><br>

<h3>хранилища данных ( web storage - API )</h3>

LocalStorage - содержит данные пользователя даже после перезагрузки браузера (аналог куки)<br>
Хранилище чувствительно к домену, порту и протоколу!<br><br>

setItem( "name", value ); - занести значение с именем в хранилище<br>
getItem ( "name" ); - получить значение из хранилища<br>
removeItem ( "name" ); - удалить значение из хранилища<br>

<hr>

локальное хранилище это объектный массив, и перебирать его нужно циклом for<br>
for( var name in localStorage[name] ) // Перебираем все элементы name циклом<br>
var value = localStorage[name]; // заносим значения в новую переменную<br>