<h3>Обработка ошибок</h3>

Обработчик ошибок window.onerror - перехватывает все ошибки браузера<br><br>

window.onerror = function(){} - функция вызываемая каждый раз когда есть ошибка в браузере<br>
функция должна принимать три аргумента<br><br>

1 - Сообщение описывающее ошибку<br>

2 - Строка с url документа с кодом который вызвал ошибку<br>

3 - Номер строк в документе вызвавший ошибку<br>

Если обработчик вернет true - это означает что ошибка обработана и сообщение об ошибке не выведется<br><br>

window.onerror = function( msg, url, line ) //Перехватываем ошибку<br>
{<br>
if( onerror.num++ < onerror.max ) <br>
{<br>
alert("ОШИБКА: " + msg + "\n" + url + ":" + line); // Выведет если найдет ошибку<br>
return true;<br>
}<br>
}<br><br>

onerror.max = 3;<br>
onerror.num = 0;

<hr>

unixtime - время в мили

<hr>

объект Data(); - возвращает полную дату.<br>

Он имеет множество методов для получения отдельных данных ( дни, часы, минуты )<br><br>

var time = new Data();<br><br>

- time.getYear(); - получаем год<br>
- time.getDay(); - получаем день <br>
- time.getHours(); - получаем часы<br>
- time.getMinutes(); - получаем минуты<br>
- time.getSecondes(); - получаем секунды<br>
- time.getTime(); - получаем unixtime<br><br>

если нужно задать значение используем 'set' вместо 'get';<br><br>

toString(); - переводит Date в строку<br>
toTimeString(); - возвращает строку возвращающую дату в локальном часовом поясе<br>
valueOf()??; - преобразует объект в его внутренний миллисекундный формат<br><br>

<h3>исключения</h3>

это сигналы об ошибках или исключительных ситуациях<br><br>

Исключения возникают если программа грузится долго или если оно вызвано инструкцией 'throw'<br><br>

throw 'Выражение'<br><br>

Интерпретатор возбуждает исключения используя экземпляр класса Error одного из его подклассов.<br><br>

Error имеет два свойства это<br>
- name - тип ошибки<br>
- message - строка переданная конструкции<br><br>
например

if(x < 0) throw new Error('Не может быть отрицательным');<br>

При возникновении исключения интерпретатор прерывает выполнение программы и переходит к ближайшему обработчику исключений.<br>

Обработчик исключений это конструкция try/catch/finally<br>

Непосредственно как обработчик тут выступает 'catch', если такого нет, программа проверяет сл. внешний блок, если обработчик так и не будет найден, программа выдаст ошибку.<br>